.inputfield
{
  border: 1px solid black;
  box-shadow:0 1px 0 #333;
  border-radius:5px;
  padding:5px;
}
.as
{
  position:absolute;
  display:none;
  z-index:10;
  top:0px;
  left:0px;
  list-style:none;
  width:300px;
  padding:5px;
  border-radius:5px;
  background-color:#222;
  box-shadow:0 0 5px #333;
}
.as li a
{
  display:block;
  padding:4px 5px;
  background-color:#9a9a9a;
  color:#000;
  cursor:pointer;
  z-index:10;
  text-decoration:none;
}
.as li:first-child a
{
  border-top-right-radius:3px;
  border-top-left-radius:3px;
}
.as li:last-child a
{
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
}
.as a:hover
{
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0,#888),
    color-stop(1,#666)
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #888 0%,
    #666 100%
  );
  color: #fff;
}
.as em
{
  font-style:normal;
  background:#5252ff;
  color:#fff;
  padding:1px 3px;
  border-radius:3px;
}